<div class="info-box">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>IP Address</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <% if @data[:details][:result] %>
      <tr>
        <td><%= @data[:ipaddress] %></td>
        <td><b><%= @data[:details][:result] %></b></td>
      </tr>
      <% else %>
      <tr class="alert alert-danger">
        <td><%= @data[:ipaddress] %></td>
        <td>Application: <b><%= @data[:details]["application"] %></b>
          <br>Reason: <b><%= @data[:details]["errmessage"] %></b>
          <br>Blacklist Time: <b><%= @data[:details]["msgtimestamp"] %></b>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% unless @data[:details][:result] %>
<button class="btn btn-primary"
        data-toggle="collapse" data-target="#demo">More Info</button>

<div id="demo" class="collapse">
  <br>
  IP: <%= @data[:ipaddress] %><br>
  Logsource: <%= @data[:details]["logsource"] %><br>
  Program: <%= @data[:details]["program"] %><br>
  Application: <%= @data[:details]["application"] %><br>
  Failure Message: <%= @data[:details]["errmessage"] %><br>
  Country: <%= @data[:details]["country"] %><br>
</div>
<% end %>
